# Assignment 03

Name: Karthik Reddy

Date: 02/19/2022

## Write a program that generates 100 random integers between 0 and 9.

1. Print them in a 10 by 10 matrix neatly arranged (one space between each number):

In [15]:
import random
for j in range(10):
    for i in range(10):
        print(random.randint(0,9), end=" ")
 #     print("\n", end="")
    print('')

4 5 9 3 5 1 8 3 9 8
3 9 9 3 3 4 3 1 8 1
7 8 7 8 3 0 0 5 1 9
6 6 1 5 6 5 5 2 6 1
5 7 6 0 5 1 4 6 7 1
4 7 8 2 8 2 2 8 7 2
0 3 6 1 9 0 4 7 0 7
2 3 3 4 5 5 8 9 9 6
6 0 8 2 9 2 1 9 7 9
3 0 7 1 2 6 9 6 1 1

2. If the random number is an odd number, print "@" instead:

In [22]:
for i in range(0, 10):
    print(end=" \n ")
    for j in range(0, 10):
        n=random.randint(0, 9)
        if (n % 2) == 0:
            print(n, end=" ")
        else:
            strn = str(n)
            strn=strn.replace(strn,"@")
            print(strn, end=" ")

 4 4 @ @ @ @ @ 2 @ @
 4 @ @ 2 @ @ @ @ 2 8
 @ 6 @ 8 2 2 @ @ @ @
 0 @ @ 0 @ @ 6 0 @ 4
 @ @ @ 4 @ @ 2 @ @ 0
 @ @ @ 2 2 @ @ @ @ 8
 6 @ @ 2 @ @ @ @ 2 @
 8 @ 8 2 6 @ 4 0 8 @
 @ 0 4 4 @ @ @ 6 6 6
 6 @ @ 2 @ 4 @ @ 6 @

3. Calculate and Print the total of each row (use "*" to separate the total from the numbers):

In [65]:
j = 0
for i in range(10):
 x = 0
 for j in range(10):    
      i = random.randint(0, 9)
      print(i, end = " ")
      x =x+i
      j =j+1
      if j==10:
        print("*", x)
      else:
        continue

5 2 4 0 4 3 7 8 2 9 * 44
9 7 9 8 6 3 1 4 5 7 * 59
4 1 8 1 6 7 8 8 7 5 * 55
8 4 9 2 3 1 6 8 1 8 * 50
3 6 9 0 4 3 3 0 2 8 * 38
0 2 9 2 6 1 3 2 4 5 * 34
8 2 0 7 3 0 9 6 4 9 * 48
3 6 6 1 2 2 0 2 9 7 * 38
8 6 6 6 2 7 2 1 6 2 * 46
1 6 3 9 6 6 2 5 8 0 * 46

4. Surround the matrix with asterisks (*):

In [66]:
for j in range(0, 23):
    print("*", end="")
print("")
for i in range(10):
#   print("*")
    for i in range(10):
        if i == 0:
            print("*", end =" ")
        n = random.randint(0, 9)
        print(n, end=" ")
    print("*")
for i in range(0, 23):
    print("*", end="")

***********************
* 6 3 3 0 6 1 1 5 0 3 *
* 0 9 3 6 8 5 7 9 6 8 *
* 2 4 7 5 7 9 4 4 5 0 *
* 7 9 0 3 4 2 3 4 0 6 *
* 1 0 2 3 8 2 3 7 6 0 *
* 8 7 5 6 8 8 1 1 7 4 *
* 8 1 2 8 5 8 4 4 4 4 *
* 3 9 4 3 0 8 1 8 7 0 *
* 1 3 4 6 9 6 7 4 9 9 *
* 9 7 3 6 5 2 9 1 8 3 *
***********************

5. Calculate and Print the total of each row and column:

In [78]:
rc=[0]*10  
for i in range(0, 10): 
    x=0 
    for j in range(0, 10):  
        tot=(random.randint(0, 9))
        x=x+(tot)  
        rc[j]=rc[j] + tot 
        print(tot, end="  ") 
    print("*", x)  
for i in range(0, 10):
    print("*", end="  ")  
print("\n", end="")  
for j in range(0, 10):
    print(rc[j], end=" ")

1  2  1  5  3  9  5  1  2  4  * 33
5  6  5  3  9  1  8  4  0  7  * 48
9  5  2  9  0  8  9  4  6  6  * 58
1  5  0  6  8  2  4  4  0  2  * 32
0  0  5  3  0  6  2  6  8  2  * 32
3  9  4  3  9  3  7  2  3  1  * 44
3  8  5  9  5  8  3  1  5  9  * 56
3  9  5  5  0  2  4  9  0  6  * 43
2  1  3  1  9  4  4  8  7  8  * 47
9  5  5  9  4  8  2  2  1  9  * 54
*  *  *  *  *  *  *  *  *  *
36 50 35 53 47 51 48 41 32 54