<a href="https://colab.research.google.com/github/Karthikreddy2299/Karthikreddy_Data690/blob/main/assignment_04/Inclass_session_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# In class practice

Date: 02/21/2022

Name: Karthik Reddy

In [1]:
import random
import re
for i in range(0,10):
    print(end="\n ")
    for j in range(0,10):
        num=random.randint(0,9)
        if (num % 2) == 0:
            print(num, end=" ")
        else:
            strnum = str(num)
            strnum=strnum.replace(strnum,"@")
            print(strnum, end=" ")

 @ @ 0 @ @ @ 2 6 @ @
 @ @ 4 @ 0 @ 6 0 6 @
 2 @ @ 6 @ @ @ @ 8 0
 0 6 @ @ @ @ @ 6 2 8
 8 @ 8 8 @ 8 8 2 @ 6
 @ 0 6 4 @ 6 @ @ @ 6
 2 2 8 @ @ 8 6 @ @ @
 @ @ @ 8 @ 0 4 2 @ 0
 2 @ 0 @ @ 6 8 6 @ @
 @ 0 @ @ @ @ 8 @ @ @

In [2]:
x = "Hello Worlpd!"

print(x)

Hello Worlpd!

In [3]:
x = x.replace("p", "")

print(x)

Hello World!

In [4]:
x = x.replace("Hello", "Hi")

print(x)

Hi World!

In [5]:
x = x.upper()
print(x)

HI WORLD!

In [6]:
x = x.lower()
print(x)

hi world!

String Function/methods/operators

* upper()

*   lower()
* replace()
* strip()
* lstrip()

* rstrip()

In [7]:
# Generate 100 number first

numbers = []
for i in range(100):
    numbers.append(random.randint(0,9))

print(numbers)

[6, 8, 5, 0, 7, 6, 3, 5, 8, 6, 0, 0, 4, 1, 6, 6, 1, 9, 9, 7, 4, 6, 8, 5, 0, 6, 6, 3, 3, 4, 5, 5, 7, 6, 6, 8, 6, 2, 7, 8, 7, 4, 6, 2, 8, 9, 0, 5, 2, 8, 9, 6, 0, 9, 0, 2, 9, 1, 7, 1, 2, 1, 8, 9, 5, 7, 0, 6, 7, 6, 0, 9, 4, 8, 1, 9, 9, 4, 7, 2, 1, 6, 0, 2, 6, 2, 5, 9, 2, 8, 0, 4, 1, 7, 4, 4, 8, 9, 2, 8]

In [8]:
for i in range(0,100,1):
    print("index = ", i, "number= ", numbers[i])

index =  0 number=  6
index =  1 number=  8
index =  2 number=  5
index =  3 number=  0
index =  4 number=  7
index =  5 number=  6
index =  6 number=  3
index =  7 number=  5
index =  8 number=  8
index =  9 number=  6
index =  10 number=  0
index =  11 number=  0
index =  12 number=  4
index =  13 number=  1
index =  14 number=  6
index =  15 number=  6
index =  16 number=  1
index =  17 number=  9
index =  18 number=  9
index =  19 number=  7
index =  20 number=  4
index =  21 number=  6
index =  22 number=  8
index =  23 number=  5
index =  24 number=  0
index =  25 number=  6
index =  26 number=  6
index =  27 number=  3
index =  28 number=  3
index =  29 number=  4
index =  30 number=  5
index =  31 number=  5
index =  32 number=  7
index =  33 number=  6
index =  34 number=  6
index =  35 number=  8
index =  36 number=  6
index =  37 number=  2
index =  38 number=  7
index =  39 number=  8
index =  40 number=  7
index =  41 number=  4
index =  42 number=  6
index =  43 number=  2
index =  44 number=  8
index =  45 number=  9
index =  46 number=  0
index =  47 number=  5
index =  48 number=  2
index =  49 number=  8
index =  50 number=  9
index =  51 number=  6
index =  52 number=  0
index =  53 number=  9
index =  54 number=  0
index =  55 number=  2
index =  56 number=  9
index =  57 number=  1
index =  58 number=  7
index =  59 number=  1
index =  60 number=  2
index =  61 number=  1
index =  62 number=  8
index =  63 number=  9
index =  64 number=  5
index =  65 number=  7
index =  66 number=  0
index =  67 number=  6
index =  68 number=  7
index =  69 number=  6
index =  70 number=  0
index =  71 number=  9
index =  72 number=  4
index =  73 number=  8
index =  74 number=  1
index =  75 number=  9
index =  76 number=  9
index =  77 number=  4
index =  78 number=  7
index =  79 number=  2
index =  80 number=  1
index =  81 number=  6
index =  82 number=  0
index =  83 number=  2
index =  84 number=  6
index =  85 number=  2
index =  86 number=  5
index =  87 number=  9
index =  88 number=  2
index =  89 number=  8
index =  90 number=  0
index =  91 number=  4
index =  92 number=  1
index =  93 number=  7
index =  94 number=  4
index =  95 number=  4
index =  96 number=  8
index =  97 number=  9
index =  98 number=  2
index =  99 number=  8

In [9]:
count = 0
for i in range(10):
    for j in range(10):
        print(numbers[count], " ", end = " ")
        count+=1
    print("\n")

6   8   5   0   7   6   3   5   8   6

0   0   4   1   6   6   1   9   9   7

4   6   8   5   0   6   6   3   3   4

5   5   7   6   6   8   6   2   7   8

7   4   6   2   8   9   0   5   2   8

9   6   0   9   0   2   9   1   7   1

2   1   8   9   5   7   0   6   7   6

0   9   4   8   1   9   9   4   7   2

1   6   0   2   6   2   5   9   2   8

0   4   1   7   4   4   8   9   2   8

In [10]:
# when to initialize a variable

sum=0
for n in range (10): #repeats each row 10 times
    for i in range(10): #repeats each integer 10 times
       y=random.randint(0,9)
       sum=sum+ y
       print(y,end=" ") #prints one integer with space at the end
    print( "*",sum,end=" \n")  #starts a new row after each 10 char
    sum=0                     #resets sum to 0 before the next loop

8 8 6 1 2 3 7 2 8 5 * 50
6 4 0 8 4 7 1 7 8 1 * 46
5 0 6 5 4 5 9 3 2 3 * 42
0 2 3 9 8 9 7 3 4 5 * 50
5 1 6 6 2 9 5 7 2 8 * 51
8 2 8 4 6 2 2 5 5 5 * 47
2 1 4 1 3 0 2 3 2 9 * 27
0 5 6 4 1 2 5 7 2 4 * 36
2 9 6 6 2 5 6 6 3 3 * 48
6 0 9 2 5 5 0 4 5 1 * 37

In [11]:
# When to intialize a variable


for n in range(10):
    sum = 0
    for i in range(10):
        y = random.randint(0,9)
        sum=sum+y
        print("y", end=" ")
    print("*",sum,end = " \n")

y y y y y y y y y y * 51
y y y y y y y y y y * 59
y y y y y y y y y y * 43
y y y y y y y y y y * 42
y y y y y y y y y y * 38
y y y y y y y y y y * 33
y y y y y y y y y y * 58
y y y y y y y y y y * 36
y y y y y y y y y y * 37
y y y y y y y y y y * 43

In [12]:
x = [0,0,0,0,0,0]
print(x)

[0, 0, 0, 0, 0, 0]

In [13]:
x = [0] * 6

print(x)

[0, 0, 0, 0, 0, 0]

In [14]:
x = [0] * 100

print(x)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]