# Name : Singireddy Karthik Reddy

## Assignment 2 

## Accept 10 integer values as current input:

In [1]:
all_integers = []
for i in range(0, 10):
    try:
      intvalue = int(input("Enter a number : "))
      all_integers.append(intvalue)
      print("The number you have entered above :", intvalue)
    except ValueError:
      print("only integers are accepted as input")

Enter a number : 12
The number you have entered above : 12
Enter a number : 492
The number you have entered above : 492
Enter a number : 09
The number you have entered above : 9
Enter a number : 788
The number you have entered above : 788
Enter a number : 40
The number you have entered above : 40
Enter a number : 8170
The number you have entered above : 8170
Enter a number : 1080
The number you have entered above : 1080
Enter a number : 333
The number you have entered above : 333
Enter a number : 976
The number you have entered above : 976
Enter a number : 71
The number you have entered above : 71

# Finding the minimum value:

In [4]:
min = all_integers[0]
for i in range(len(all_integers)):
  if all_integers[i] < min:
    min = all_integers[i]
print('The minimum value is: ', min)

The minimum value is:  9

# Finding the maximum value:

In [5]:
max = all_integers[0]
for i in range(len(all_integers)):
  if all_integers[i] > max:
    max = all_integers[i]
print('The maximum value is: ',max)

The maximum value is:  8170

# Finding the range:

In [9]:
Range_val = max - min
print('The range for the above list is: ',Range_val)

The range for the above list is:  8161

# Finding the mean:

In [10]:
def meanvaluecount(all_integers):
  count = 0
  for i in all_integers:
    count=count+i
    meanvalue = count/len(all_integers)
  print('The mean value is: ', meanvalue)
  return meanvalue

meanvalue = meanvaluecount(all_integers)

The mean value is:  1197.1

# Finding the Variance value:

In [12]:
variance = [(x - meanvalue) ** 2 for x in all_integers]
variancevalue = sum(variance)/len(all_integers)
print("The variance of this above list is: " ,variancevalue)

The variance of this above list is:  5551815.49

#Finding the Standard Deviation:

In [13]:
standard_deviation= variancevalue**0.5
print(" The standard deviation of the above list is: ",standard_deviation)

 The standard deviation of the above list is:  2356.229082665775